//Colors

$grayscale70: #06082c;
$grayscale60: #353754;
$grayscale50: #7b7ea5;
$grayscale40: #9395b8;
$grayscale30: #fafafb;
$grayscale20: #f1f3f7;
$grayscale10: #f8f8f9;
$grayscale00: #ffffff;

//#06082C
