@import "../../assets/style/var";

.main {
  // background-color: blue;
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
  }
  &__content {
    width: 100%;
    max-width: 765px;
    // border-radius: 20px;
    // border: black 1px solid;
  }
  &__sidebar {
    // background: $grayscale40;
    // border: black 1px solid;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 371px;
    width: 100%;
  }
}
