@import "../../assets/style/var";

.main {
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    @media (max-width: 868px) {
      flex-direction: column;
    }
  }
  &__content {
    width: auto;
    max-width: 765px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    max-width: 100%;
    @media (max-width: 1040px) {
      width: 67%;
    }
    @media (max-width: 868px) {
      width: 100%;
    }
  }
  &__sidebar {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 371px;
    width: auto;
    @media (max-width: 1040px) {
      width: 30%;
    }
    @media (max-width: 868px) {
      width: 100%;
      max-width: none;
    }
  }
}
